
div{
    /*text-align: center;*/}
.container{
    border-style: double;
    border-width: 8px;
    border-color: slategray;
}
.main{
    background-color: #e6e6e6;
    font-family: 'Indie Flower', cursive;
}
.title {
    padding: 10px;
}
.titleL {
   display: block;
   height: 250px;
   width: 300px;
}
h2{
    font-size: 62px;
}

.start {
    height: 175px;
    width: 200px;
    font-size: 40px;
    border-style: double;
    border-width: 5px;
    border-color: slategray;
    
}
.start:hover { 
    background-color: #6e6e6d;
    size: 105%
}
li:hover {
    background-color: #b2c2bf;
    border-style: solid;
    border-color: #6e6e6d;
    border-width: 1px;
}
#question{
    text-align: center;
    font-size: 34px;
}

.answerstyle {
  align-self: center;
}

.board{
    background-color:#e6e6e6;
    font-style: 'Indie Flower', cursive;
    align-content: center;
    border-width: 3px;
    border-style: double;
    border-color: black;
    padding-left: 75px;
}
li{
    font-size: 30px;
}
#gif{
    padding-left: 120px
}

#result1{
    font-style: 'Indie Flower', cursive;
    font-size: 30px;}

#result2{ 
    font-style: 'Indie Flower', cursive;
    font-size: 30px;
}